@font-face {
    font-family: 'Quicksand-Regular';
    src: url('../fonts/Quicksand-Regular.woff2') format('woff2');
    src: url('../fonts/Quicksand-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}

@mixin f500 {
    font-family: 'Quicksand';
    font-weight: 500;
}
@mixin f700 {
    font-family: 'Quicksand';
    font-weight: 700;
}