html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}
 
a{
    text-decoration: none;
    color: #333333;
}
ul, li{
    margin: 0;
    text-decoration: none;
    list-style: none;
}
.container{
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}
body{
    font-family: 'Quicksand-Regular', sans-serif;
    font-weight: 400;
    font-size: 15px;
}