@import '_global';
@import '_vars';
@import '_fonts';

.header{
    background-color: $gray-bg;
}

.header__top-inner{
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__button{
    margin-left: auto;
    height: 36px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    background-color: $blue;
    font-size: 14px;
    border-radius: 17px;
    padding: 11px 18px;
    a{
        color: #fff;
    }
    margin-right: 18px;
}

.header__notifies{
    a{
        margin-left: 32px;
        position: relative;
        span{
            position: absolute;
            top: -18px;
            left: 15px;
            border-radius: 50%;
            padding: 3px 5px;
            color: #fff;
            height: 22px;
            min-width: 22px;
            font-size: 14px;
            text-align: center;
            @include f500;
        }
        .icon-alarm{
            background-color: $red;
            left: 12px;
        }
        .icon-envelope{
            background-color: $green;
        }
        .icon-cart{
            background-color: $blue;
        }
    }
}

.header__account{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 48px;
    a{
        display: block;
        cursor: pointer;
    }
    &-logo{
        border-radius: 50%;
        background-color: rgb(124, 121, 121);
        width: 50px;
        height: 50px;
        margin-right: 20px;
    }
    &-name{
        font-size: 16px;
        line-height: 22px;
        color: $black;
    }
    &-balance{
        font-size: 15px;
        line-height: 22px;
        color: $blue;
    }
}

.header__menu{
    background-color: #fff;
    min-height: 80px;
    &-inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-list{
        padding: 19px 0;
        ul{
            padding: 0;
        }
        li{
            display: inline-block;
            font-size: 15px;
            line-height: 42px;
            text-transform: uppercase;
            @include f500;
            color: $black;
        }
        li + li{
            margin-left: 34px;
        }
    }
    &-search{
        position: relative;
        input{
            border-radius: 20px;
            border: 1px solid $gray-text;
            padding: 7px 85px 7px 24px;
            line-height: 30px;
            min-width: 359px;
            max-height: 46px;
            outline: transparent;
        }
        button{
            background-color: $blue;
            border: none;
            position: absolute;
            right: 0;
            top: 0;
            border-radius: 20px;
            padding: 13.5px 24px;
            outline: transparent;
            cursor: pointer;
            img{
                height: 16px;
                width: 16px;
            }
        }
    }
}

// end header

// start main-title & search-box

.main-title{
    background: #2d51d1; /* Old browsers */
    background: -moz-linear-gradient(left,  #2d51d1 0%, #092fba 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #2d51d1 0%,#092fba 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #2d51d1 0%,#092fba 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d51d1', endColorstr='#092fba',GradientType=1 ); /* IE6-9 */
    color: #f3f3f8;
    text-align: center;
    min-height: 726px;
    display: flex;
    justify-content: center;
    z-index: 1;
    &__inner{
        padding: 180px 0 235px;
    }
    &__title{
        font-size: 60px;
        line-height: 70px;
        span{
            @include f700;
        }
    }
    &__desk{
        padding: 30px 0 65px;
        font-size: 20px;
        @include f500;
    }
    &__button{
        font-size: 16px;
        padding: 16.5px 32px;
        border-radius: 26px;
        color: #fff;
        border: 1px solid #fff;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
        transition: all .4s;
        &:hover{
            background-color: #fff;
            color: $blue;
        }
    }
    a + a{
        margin-left: 30px;
    }
}

.main-title-container{
    position: relative;
}

.search-box__inner{
    width: calc(100% - 30px);
    background-color: #fff;
    border-radius: 6px;
    position: absolute;
    bottom: -67.5px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
    z-index: 1;
    &:after{
        content: '';
        background: #fff;
        opacity: 0.502;
        position: absolute;
        width: calc(100% - 30px);
        // width: 100%;
        top: -13px;
        right: 15px;
        min-height: 135px;
        border-radius: 6px;
        z-index: -1;
    }
    &:before{
        content: '';
        background: #fff;
        opacity: 0.502;
        position: absolute;
        width: calc(100% - 60px);
        top: -25px;
        right: 30px;
        min-height: 135px;
        border-radius: 6px;
        z-index: -1;
    }
}

.search-box__search{
    form{
        width: 100%;
        display: flex;
        justify-content: space-between;
        min-height: 135px;
        align-items: center;
        padding: 0 40px;
    }
    input{
        // min-width: 805px;
        padding: 17px 28px;
        background-color: #fff;
        color: #676767;
        font-size: 16px;
        border-radius: 4px;
        border: 1px solid #dcdcdc;
        outline: transparent;
        width: 100%;
        height: 55px;
    }
    button{
        // padding: 15px 0px;
        background-color: $blue;
        color: #fff;
        border: none;
        border-radius: 4px;
        outline: transparent;
        margin-left: 30px;
        max-width: 223px;
        width: 100%;
        font-size: 16px;
        padding: 18px 28px;
        height: 55px;
        cursor: pointer;
    }
}
.search-box__line{
    max-width: 805px;
    width: 100%;
    position: relative;
}
.search-box__menu{
    position: absolute;
    right: 0;
    top: 0;
    select{
        height: 55px;
        outline: transparent;
        padding: 17px 28px;
        font-size: 16px;
        color: #555555;
        background-color: #fff;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border: 1px solid #dcdcdc;
        cursor: pointer;
    }
}
  
// end main-title & search-box

// start features section

.features{
    background-color: #fdfdfd;
}
.features__inner{
    display: flex;
    justify-content: space-between;
    color: #010101;
    padding: 185px 0 120px;
}

.features__item{
    max-width: 361px;
    border-radius: 4px;
    text-align: center;
    &-image{
        padding-top: 45px;
    }
    &-title{
        font-size: 24px;
        padding: 38px 0 29px;
    }
    &-text{
        font-size: 16px;
        line-height: 30px;
        color: #555555;
        padding: 0 34px 40px;

    }
    &:hover{
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
        background-color: #fff;
    }
}
  
// end features section

// start weekly-products section

.weekly-products{
    padding: 120px 0;
    &__inner{
        padding-top: 50px;
    }
}
.weekly-title,
.newest-title{
    h3{
        font-size: 30px;
        color: #000;
    }
    padding: 40px 28px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    border-radius: 4px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .slider-buttons{
        background-color: $purple;
        border-radius: 23px;
        width: 110px;
        height: 45px;
        display: flex;
        text-align: center;
        align-items: center;
        button{
            border: none;
            background-color: transparent;
            color: #fff;
            height: 45px;
            width: 50%;
            outline: transparent;
            font-size: 15px;
            font-weight: 600;
        }
    }
}
.weekly-products__item{
    display: flex!important;
    background-color: #fff;
    &-image{
        max-width: 555px;
        width: 100%;
        background-color: #4e5760;
        a{
            min-height: 450px;
            display: block;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
    &-box{
        padding: 24px 49px;
    }
    &-title{
        @include f500;
        font-size: 24px;
        color: #000;
        padding: 24px 0 14px;
        display: block;
    }
    &-text{
        font-size: 16px;
        line-height: 30px;
        padding: 25px 0;
    }
    &-tags{
        padding-bottom: 44px;
        border-bottom: 1px solid #ececec;
        a{
            color: #868c96;
            padding: 7px 13px 7px 17px;
            background-color: #f1f3f6;
            border-radius: 13px;
            display: inline-block;
        }
        & + a{
            margin-left: 7px;
        }
    }
    &-footer{
        margin-top: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .item-footer__likes{
            position: relative;
            margin-left: 45px;
        }
        .item-footer__price{
            color: #fff;
            background-color: $blue;
            border-radius: 16px;
            @include f500;
            padding: 8px 16px;
            display: inline-block;
            height: 32px;
            min-width: 100px;
            text-align: center;
        }
        .lnr-heart::before{        
            position: absolute;
            left: -25px;
            top: 2px;
            color: $purple;
            font-size: 15px;
            font-weight: 700;
        }
        .lnr-cart::before{
            position: absolute;
            left: -25px;
            top: 2px;
            color: $blue;
            font-size: 15px;
            font-weight: 700;
        }
        .item-footer__cart{
            margin-right: auto;
            position: relative;
            margin-left: 45px;
            color: $blue;
        }
        .item-footer__stars .rate-stars{
            margin-left: 0;
        }
    }  
}
.item-info__author{
    display: flex;
    align-items: center;
    img{
        min-width: 30px;
        min-height: 30px;
        background-color: $purple;
        border-radius: 50%;
    }
    a{
        color: #000;
        padding: 0 20px 0 9px;
    }
}
.item-info__category{
    display: flex;
    align-items: center;
    a{
        color: $purple;
        padding-left: 9px;
    }
}
.weekly-products__item-info{
    display: flex;

}
.weekly-products__item-box__inner{
    max-width: 485px;
}

// end weekly-products section

// start newest-products section
.newest-products{
    background-color: #f6f7fb;
    padding-top: 120px;
}
.newest-products__inner{
    display: flex;
    justify-content: flex;
    justify-content: start;
    margin-left: -30px;
    flex-wrap: wrap;
    margin-bottom: 60px;
}
.newest-title{
    margin-bottom: 30px;
    background-color: #fff;
}
.newest-products__item{
    max-width: 360px;
    background-color: #fff;
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(33.333% - 30px);
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    &-box{
        width: 100%;
    }
    &-box__inner{
        padding: 30px;
    }
    &-title{
        @include f500;
        font-size: 20px;
        line-height: 20px;
        color: #000;
        margin-bottom: 20px;
        display: block;
    }
    &-image a{
        max-width: 361px;
        height: 230px;
        display: block;
    }
    &-info{
        display: flex;
        margin-bottom: 30px;
    }
    &-text{
        font-size: 16px;
        color: #555;
        line-height: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid #ececec;
    }
    &-footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 14px;
    }
}
.item-footer__price{
    background-color: #e6f1fd;
    border-radius: 14px;
    padding: 7px 16px;
    height: 30px;
    color: $blue;
    @include f500;
}
.item-footer__stars{
    margin-right: auto;
    margin-left: 10px;
}
.item-footer__likes{
    margin-left: 35px;
    position: relative;
    color: #6f7d8d;
    font-family: 'Quicksand-Regular', sans-serif;
    font-size: 15px;
    font-weight: 400;
    &::before{
        position: absolute;
        font-family: 'Linearicons-Free';
        left: -20px;
        top: 1px;
        color: $purple;
        font-size: 15px;
        font-weight: 700;
    }
}
.item-footer__cart{
    position: relative;
    color: $blue;
    font-family: 'Quicksand-Regular', sans-serif;
    font-size: 15px;
    font-weight: 400;
    &::before{
        position: absolute;
        font-family: 'Linearicons-Free';
        left: -23px;
        top: 1px;
        color: $blue;
        font-size: 15px;
        font-weight: 700;
    }
}
.newest-products__btn-inner{
    text-align: center;
    display: block;
    padding-bottom: 120px;
}
.newest-products__btn{
    color: #747b86;
    padding: 1px 19px;
    border-radius: 30px;
    background-color: #f1f3f6;
    display: inline-block;
    line-height: 30px;
    border: none;
    outline: none;
    cursor: pointer;
}
.newest-products__tabs{
    background-color: #fff;
    height: 92px;
    padding: 30px;
    margin-bottom: 20px;
    box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
    border-radius: 4px;
    .newest-products__btn + .newest-products__btn{
        margin-left: 10px;
    }
    .mixitup-control-active{
        color: #fff;
        background-color: $blue;
    }
}
.filter-hover{
    opacity: 0;
    // display: none;
    ul{
        display: none;
    }
}
.filter-hover-transparent{
    opacity: 0;
    display: block;
    height: 10px;
    width: 10px;
    background-color: transparent;
    position: absolute;
}
.newest-title__filter{
    position: relative;
    margin-right: 30px;
    img{
        position: absolute;
        cursor: pointer;
        padding: 5px 10px;
        right: 0px;
        top: -4px;
        display: inline-block;
    }
    .filter-img{
        position: absolute;
        padding: 5px 10px;
        right: -40px;
        width: 25px;
        height: 35px;
        top: -3px;
    }
    .filter-img:hover{
        .filter-hover-transparent{
            background-color: transparent;
            right: 20px;
            top: 10px;
            height: 40px;
            width: 150px;
        }
        .filter-hover{
            display: block;
            position: absolute;
            display: block;
            opacity: 1;
            background-color: #fff;
            min-width: 180px;
            padding: 27px;
            border-radius: 3px;
            box-shadow: 0px -8px 80px 10px rgba(82, 85, 90, 0.2);
            right: -11px;
            top: 45px;
            ul{
                display: block;
                .filter-active{
                    color: $blue;
                }
                li a{
                    display: block;
                    color: #747b86;
                }
                li + li{
                    margin-top: 10px;
                }
            }
        }
        .filter-hover__triangle{
            position: absolute;
            width: 0px; 
            height: 0px; 
            top: 31px;
            right: 5px;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;      
            border-bottom: 14px solid rgb(255, 255, 255);
            z-index: 1;
        }    
    }
}

// end newest-products section

  